body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.feedback-container{
    background-color: white;
    width: 400px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.emoji-container{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.fa-regular{
    margin: 1px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.rating-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}

.fa-solid{
    color: lightgrey;
    cursor: pointer;
}

.fa-solid.active{
    color: gold;
}